@import url('https://fonts.google.com/')

/*h1 {
   color: aqua
}

comment code
.p{
color : chocolate
}

comment code 
.title one {

    color : red 
}

comment code 
.title two {

    color :blue 
}  
